<h1 class="text-center">Mon profil</h1>
<br>
<br>
<br>
<div class="container text-align">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
       <p><strong>First name:</strong> <%= @user.first_name.capitalize%></p>
      <div class="spacer"></div>
      <p><strong>Last name:</strong> <%= @user.birth_date %></p>
      <div class="spacer"></div>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <br>
      <br>
      <strong>MES TRAITEMENTS</strong>
      <% @user.medications.each do |medications| %>
      <br>
      <br>
      <%= medications.description %>
      <% end %>
      <br>
      <br>
      <br>
      <%= link_to(edit_profile_path, class: "btn btn-primary") do %>
        <i class="fa fa-pencil">   Ajouter ou mettre à jour mon profil</i>
      <% end %>
      <div class="horizontal_spacer"></div>
      <div class="horizontal_spacer"></div>
      <div class="horizontal_spacer"></div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container text-align">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>Mes amis</h2>
      <ul>
        <% for friendship in @user.friendships %>
          <li><%= friendship.friend.first_name.capitalize %>
            <div class="spacer">
            <%= link_to "Retirer de ma liste d'amis", profile_friendship_path(current_user.friendships, friendship), :method => :delete, data: { confirm: 'Etes-vous sûr ?' } %>
            </div>
          </li>
        <% end %>
      </ul>
  <br>
<br>
<div class="container text-align">
  <div class="row">
    <%= link_to "Voir mon fil d'actualité", posts_path %>
      <br>
      <br>
    <%= link_to "Poster un status", new_post_path %>
  </div>
</div>
<br>
<br>

<div class="container text-align">
  <div class="col-xs-10">
    <p><strong>MES POSTS</strong></p>
      <% @posts.each do |post| %>
        <div class="row">
          <div class="col-xs-8">
            <% if post.user_id == current_user.id %>
              <%= post.content %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
<br>
<br>
<br>
<br>