<h1 class="text-center">Mon profil</h1>
<br>
<br>
<br>
<div class="container text-align">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
       <p><strong>First name:</strong> <%= @user.first_name.capitalize%></p>
      <div class="spacer"></div>
      <p><strong>Last name:</strong> <%= @user.birth_date %></p>
      <div class="spacer"></div>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <br>
      <br>
      <strong>MES TRAITEMENTS</strong>
      <% @user.medications.each do |medications| %>
      <br>
      <br>
      <%= medications.description %>
      <% end %>
      <br>
      <br>
      <br>
      <%= link_to(edit_profile_path, class: "btn btn-primary") do %>
        <i class="fa fa-pencil">   Ajouter ou mettre à jour mon profil</i>
      <% end %>
      <div class="horizontal_spacer"></div>
      <div class="horizontal_spacer"></div>
      <div class="horizontal_spacer"></div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container text-align">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>Friends</h2>
      <ul>
        <% for friendship in @user.friendships %>
          <li><%= friendship.friend.first_name %>
            <%= link_to 'remove', friendship, :method => :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<br>
<br>
