<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CommonhealthProject</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>

</head>
<body>

    <% if current_page?(root_path) %>
      <%= render "layouts/navbarhome" %>
    <% else %>
      <%= render "layouts/navbar" %>
    <% end %>

    <!-- <div class="wrapper"> -->

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<%= yield %>
       <div class="vertical_space"> </div>

    <!-- </div> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <%= javascript_include_tag 'application' %>

</body>
</html>
